body{
    background-color: rgb(132, 8, 124);
}
img{
    width: 80%;
}
.c{
    margin-top: 10%;
    text-align: center;
    display:inline-block;
}
.d{
    width: 30%;
    display: inline-block;
}
.bot{
    text-align: center;
    margin-top:10%;
}
.bot1{
    padding: 5%;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    font-size: larger;
}